.containerProfil{
    border: 5px solid var(--border);
    border-radius: 20px;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 2%;
    background-color: var(--btnHome);
}

.divProfilVus{
    height: 20vh;
    background-color: var(--btn-bg);
    width: 20%;
    margin: 5%;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid var(--bg-grad2);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: white;
    font-size: 20px;
}